[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "*"
MarkupSafe = "*"
atomseeker = {editable = true,path = "."}

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"

[pipenv]
allow_prereleases = true
